export PATH=$HOME/bin:/usr/local/bin:{{ .chezmoi.homeDir }}/.cargo/bin/:{{ .chezmoi.homeDir }}/.local/bin:$PATH
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"

plugins=(
    archlinux 
    git 
    ubuntu
    zsh-autosuggestions
    cp
    fancy-ctrl-z
    tmux
    zsh-syntax-highlighting
    pip
    vim-interaction
    )
ZSH_TMUX_AUTOSTART=true
ZSH_TMUX_AUTOCONNECT=false
source $ZSH/oh-my-zsh.sh

# autojump :
source /usr/share/autojump/autojump.zsh

function v{
  if [ -z "$1" ]; then
      fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs -r nvim
  else
    nvim $1
  fi
}

alias neovide="neovide --multigrid"
alias clone="alacritty -e zsh -c \"cd \$(pwd); zsh -i\"&!"
neovide-tweaked () {
    (neovide "$@" --nofork && clone)&!;exit
}
#alias nvim=neovide-tweaked
alias vim=nvim
alias vi=vim
alias v='fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs -r nvim'
alias hx=helix
alias htop=btop
alias top=btop
alias ls=exa
alias tree='exa --tree'
alias make="make -j"
alias poly="./.apps/PolyMC-{{ .chezmoi.kernel.ostype }}-1.4.3-x86_64.AppImage"
alias gupd="git add .; git commit -m \"update\"; git push"
