#!/bin/sh
{{ if eq .chezmoi.osRelease.id "arch" -}}
  sudo pacman -S \
                  alacritty \
                  zsh \
                  btop \
                  neofetch \
                  exa \
                  git \
                  xclip \
                  blueman \
                  bluez \
                  unzip \
                  man-db \
                  wireguard-tools \
                  mpv \
                  mpv-mpris \
                  ripgrep \
                  fzf \
                  redshift \
                  fd \
                  zoxide \
                  zellij \
                  flameshot \


# install paru
  sudo pacman -S --needed base-devel
  git clone https://aur.archlinux.org/paru.git ~/Desktop/paru
  cd ~/Desktop/paru
  makepkg -si

# install paru packages
  paru -S clipit librewolf-bin ttf-ubuntu-mono-nerd emote

{{ else if eq .chezmoi.osRelease.id "nixos" -}}
  nix-shell -p git --run "git clone git@github.com:Eldolfin/nixos-config.git ~/nixos-config"
  sudo mv -v /etc/nixos/configuration.nix /etc/nixos/configuration.nix.before-chezmoi-install
  sudo ln ~/nixos-config/configuration.nix /etc/nixos/configuration.nix
  sudo nixos-rebuild switch
{{ end -}}

# install oh my zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# put back the zshrc
mv -v .zshrc.pre-oh-my-zsh .zshrc

# download backgrounds
git clone git@github.com:Eldolfin/windows_backgrounds.git .backgrounds

# download sounds
git clone git@github.com:Eldolfin/sounds.git Music/sounds

# install cargo toolchain
rustup default stable
