#!/bin/sh
{{ if or (eq .chezmoi.hostname "nixos-tour") (eq .chezmoi.hostname "nixos-portable") -}}
echo -e "\033[0;32mAsking for sudo now so that it's not needed later\033[0m"
sudo echo -e "\033[0;32mOk\033[0m"
{{ end -}}

{{ if eq .chezmoi.osRelease.id "arch" -}}
  sudo pacman -S \
                  alacritty \
                  zsh \
                  btop \
                  neofetch \
                  exa \
                  git \
                  xclip \
                  blueman \
                  bluez \
                  unzip \
                  man-db \
                  wireguard-tools \
                  mpv \
                  mpv-mpris \
                  ripgrep \
                  fzf \
                  redshift \
                  fd \
                  zoxide \
                  zellij \
                  flameshot \
                  syncthing \

  # install paru
  sudo pacman -S --needed base-devel
  git clone https://aur.archlinux.org/paru.git ~/Desktop/paru
  cd ~/Desktop/paru
  makepkg -si

  # install paru packages
  paru -S clipit librewolf-bin ttf-ubuntu-mono-nerd emote

{{ else if eq .chezmoi.osRelease.id "nixos" -}}
{{ if or (eq .chezmoi.hostname "nixos-tour") (eq .chezmoi.hostname "nixos-portable") -}}
  sudo mkdir /etc/nixos/git-repo
  sudo chown oscar /etc/nixos/git-repo
  git clone git@github.com:Eldolfin/nixos-config.git /etc/nixos/git-repo
  sudo mv -v /etc/nixos/configuration.nix /etc/nixos/configuration.nix.before-chezmoi-install
  sudo ln /etc/nixos/git-repo/configuration.nix /etc/nixos/configuration.nix
  sudo nixos-rebuild switch

# install home-manager
  nix-channel --add https://github.com/nix-community/home-manager/archive/release-23.05.tar.gz home-manager
  sudo nix-channel --add https://nixos.org/channels/nixpkgs-unstable unstable
  nix-channel --update
  nix-shell '<home-manager>' -A install
{{ end -}}
  home-manager switch
{{ end -}}

# aint usefull for now
# install z4h
# sh -c "$(curl -fsSL https://raw.githubusercontent.com/romkatv/zsh4humans/v5/install)"
# put back the zshrc
#mv -v .zshrc.pre-oh-my-zsh .zshrc

# download backgrounds
#echo -e "\033[0;32mDownloading backgrounds\033[0m"
#git clone git@github.com:Eldolfin/windows_backgrounds.git .backgrounds
#
## download sounds
#echo -e "\033[0;32mDownloading sounds\033[0m"
#git clone git@github.com:Eldolfin/sounds.git Music/sounds
#
## install nvim plugins
#echo -e "\033[0;32mInstalling nvim plugins\033[0m"
#nvim --headless +"\!sleep 1" +qall
