#!/bin/sh
{{ if eq .chezmoi.osRelease.id "arch" -}}
    sudo pacman -S alacritty \
                   zsh btop \
                   neofetch \
                   exa \
                   git \
                   xclip \
                   blueman \
                   bluez \
                   unzip \
                   man-db \
                   wireguard-tools \
                   mpv \
                   mpv-mpris \


    # install paru
    sudo pacman -S --needed base-devel
    git clone https://aur.archlinux.org/paru.git ~/Desktop/paru
    cd ~/Desktop/paru
    makepkg -si

    # install paru packages
    paru -S autojump diodon librewolf-bin

{{ end -}}

#install nvm
cd ~/
git clone https://github.com/nvm-sh/nvm.git .nvm
cd ~/.nvm

# install vim-plug
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
