# i3blocks config file
#
# Please see man i3blocks for a complete reference!
# The man page is also hosted at http://vivien.github.io/i3blocks
#
# List of valid properties:
#
# align
# color
# command
# full_text
# instance
# interval
# label
# min_width
# name
# separator
# separator_block_width
# short_text
# signal
# urgent

# Global properties
#
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
command=/usr/lib/i3blocks/$BLOCK_NAME
separator_block_width=15
markup=none


# Display any packages to install
#[packages]
#command=echo "📦 $(nix-store --query --requisites /run/current-system | wc -l)"
#separator=true
#interval=1800
#signal=3

# Memory usage
#
# The type defaults to "mem" if the instance is not specified.
[memory]
interval=30
command=echo "MEM $(~/.config/i3/scripts/i3memory)"

# Disk usage
#
# The directory defaults to $HOME if the instance is not specified.
# The script may be called with a optional argument to set the alert
# (defaults to 10 for 10%).
[disk]
interval=30
command=echo "HOME $(~/.config/i3/scripts/i3disk)"



{{ if eq .chezmoi.hostname "oscar-portable" -}}
[wifi]
command=echo "📡 $(~/.config/i3/scripts/i3wifi wlp0s20f3)"
interval=5
{{ else -}}
[eth]
command=echo "📡 $(~/.config/i3blocks/scripts/ethernet)"
interval=5
{{ end -}}


[bandwidth]
command=~/.config/i3blocks/scripts/bandwidth
interval=5
INLABEL=
OUTLABEL=
#INTERFACE=(checks all interfaces)
#USE_BITS=0
#USE_BYTES=1
#WARN_RX=0
#WARN_TX=0
#CRIT_RX=0
#CRIT_TX=0
#USE_SI=0

# CPU usage
#
# The script may be called with -w and -c switches to specify thresholds,
# see the script for details.
[cpu_usage]
command=~/.config/i3blocks/scripts/cpu_usage
interval=5
LABEL=CPU 
min_width=CPU 100.00%
T_WARN=50
T_CRIT=80
DECIMALS=2
COLOR_NORMAL=#FFFFFF
#COLOR_WARN=#FFFC00
#COLOR_CRIT=#FF0000

{{ if eq .chezmoi.hostname "oscar-portable" -}}
# Battery indicator
#
# The battery instance defaults to 0.
[battery]
command=~/.config/i3blocks/scripts/battery
interval=30
LABEL=BAT
LABEL=⚡
BAT_NUMBER=0
{{ end -}}

# Volume indicator
#
# Displays both the master and the headphone volume
{{ if or (eq .chezmoi.hostname "oscar-tour") (eq .chezmoi.hostname "oscar-portable") -}}
[i3volume]
label=
command=~/.config/i3/scripts/i3-volume/volume output i3blocks
interval=once
signal=10
color=#b8bb26
separator_block_width=10
markup=pango
{{ end }}

# Date Time
#
[time]
command=date '+%A %d/%m/%Y %H:%M:%S'
interval=1
